server {

    server_name {{nginx_app_domain_name}};

    location ~ /.well-known {
            allow all;
    }
    
    location / {

        set $set_origin '*';
        
        if ($http_origin ~* https://(www\.toptour\.no|api\.trd\.toptour\.no)) {
            set $set_origin '$http_origin';
        }

        if ($request_method = 'OPTIONS') {
            add_header Access-Control-Allow-Origin '$set_origin';
            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain charset=UTF-8';
            add_header 'Content-Length' 0;
            return 204;
        }

        if ($request_method = 'POST') {
            add_header Access-Control-Allow-Origin '$set_origin';
            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
        }

        if ($request_method = 'GET') {
            add_header Access-Control-Allow-Origin '$set_origin';
            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
        }

        proxy_pass http://127.0.0.1:5042;
    }
    
    root /var/www/{{nginx_app_domain_name}};
    
    ssl_certificate /etc/letsencrypt/live/{{nginx_app_domain_name}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{nginx_app_domain_name}}/privkey.pem;
    
    listen 443 ssl;
}


server {

    server_name {{nginx_app_domain_name}};
    root /var/www/{{nginx_app_domain_name}};

    location ~ /.well-known {
            allow all;
    }

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}